.flex-container{
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.my-icon{
    height: 60px;
    width: 60px;

    }


.reg-icon #sync {
    color: green;
    fill:currentColor;
}

.selected-resource {
    color: cornflowerblue;
}