<!--The content below is only a placeholder and can be replaced.-->
<div class="mat-typography flex-center-container">
  <h1>
    Angular seed project
  </h1>
<mat-list role="list">
  <mat-list-item role="listitem">Angular version: 6.0.8</mat-list-item>
  <mat-list-item role="listitem">Material version: 6.4.0</mat-list-item>
  <mat-list-item role="listitem">Typescript version: 2.7.2</mat-list-item>
  <mat-list-item role="listitem">Rxjs version: 6.2.2</mat-list-item>
  <mat-list-item role="listitem">Ngrx store version: 6.0.1</mat-list-item>
</mat-list>  
<div class="input-container">
  <mat-form-field>
    <input matInput placeholder="Placeholder" />
  </mat-form-field>
</div>

</div>
