<!--The content below is only a placeholder and can be replaced.-->
<div class="mat-typography flex-center-container">
  <h1>
    Angular seed project
  </h1>
<mat-list role="list">
  <mat-list-item role="listitem">Angular version: 7.0.2</mat-list-item>
  <mat-list-item role="listitem">Material version: 7.0.2</mat-list-item>
  <mat-list-item role="listitem">Typescript version: 3.1.6</mat-list-item>
  <mat-list-item role="listitem">Rxjs version: 6.3.3</mat-list-item>
  <mat-list-item role="listitem">Ngrx store version: 6.0.1</mat-list-item>
</mat-list>  

<mat-icon svgIcon="sync_folder" class="my-icon"></mat-icon>


</div>
