/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



.flex-center-container {
    display: flex;
    align-items: center;
    flex-direction: column
}
.url-container {
    width: 500px;
    word-wrap: break-word;

}

.generated-image {
    background-color: #ffffcc
}