/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

@include mat-core();


$primary: mat-palette($mat-indigo);

$accent: mat-palette($mat-green);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

.flex-center-container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.inner-theme {
    $primary1: mat-palette($mat-red,50);

    $accent1: mat-palette($mat-green);
    
    $theme1: mat-light-theme($primary1, $accent1);
    
    @include angular-material-theme($theme1);

}